{% extends 'base.html.twig' %}

{% block title %}Formulaire newsletter{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(form) }}

		{{ form_end(form) }}
	</div>
{% endblock %}
