{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <figure>
        <img src="{{ asset('images/accueil.jpg') }}" alt="accueil" />
        <figcaption>
            <h2>Page d'accueil</h2>
            <p>Bienvenue sur le site de la boutique de vêtements</p>
        </figcaption>
    </figure>
    <section class="section-1">
        <h2>Tendances</h2>
    </section>
{% endblock %}
