{% extends 'base.html.twig' %}

{% block title %}Liste de genres{% endblock %}

{% block body %}
    <section class="listGenres">

        <h1>Liste de genres</h1>

        <div class="cards">
            {% for genre in genres %}
                {% include 'components/card/_genre.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
