{% extends 'base.html.twig' %}

{% block title %}Liste de genres{% endblock %}

{% block body %}
    <section class="listGenres">

        <h1>Liste de genres</h1>

        <div class="cards">
            {% for genre in genres %}
                <a href="{{ path('app_show_game_genre', {genreSlug: genre.slug}) }}">
                    <div class="genreCard">
                        <figure>
                            <img src="{{ genre.image }}" alt="image pour le genre : {{ genre.label }}" width="300" height="200">
                            <figcaption>
                                {{ genre.label|upper }}
                            </figcaption>
                        </figure>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
