{% extends 'base.html.twig' %}

{% block title %}{{ 'gender.title'|trans({}, 'gender') }}{% endblock %}

{% block body %}
    <section class="listGenres">

        <h1>{{ 'gender.title'|trans({}, 'gender') }}</h1>

        <div class="cards">
            {% for genre in genres %}
                {% include 'components/card/_genre.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
