{% extends 'base.html.twig' %}

{% block title %}Mes préférences{% endblock %}

{% block body %}
	<div class="container text-center">
		<section class="theme-switcher my-3">
			<h2>Thème du site</h2>
			<span>Light</span>
			<div class="toggle-container">
				<input class="container_toggle" type="checkbox" id="switch" name="mode">
				<label for="switch">Toggle</label>
			</div>
		</section>
		<hr class="w-75 mx-auto">
		<section id="newsletter" class="my-3">
			<h2>Newsletter</h2>
			{% if newsletter %}
				<div class="newsletter_subscribed text-center">
					<p>Vous êtes actuellement inscrit à la newsletter</p>
					<a href="{{ path('newsletter_unsubscribe', {'id': newsletter.id, 'token': newsletter.token})}}" class="btn btn-danger">Se désinscrire</a>
				</div>
			{% else %}
				<div class="newsletter_unsubscribed text-center">
					<p>Vous n'êtes actuellement pas inscrit à la newsletter</p>
					<a href="{{ path('newsletter_subscribe') }}" class="btn-primary-orange">S'inscrire</a>
				</div>
			{% endif %}
		</section>
		<hr class="w-75 mx-auto">
		<section id="delete-account">
			<h2>Supprimer mon compte</h2>
			<p>Vous n'avez plus envie d'avoir un compte sur notre site ? Pas de problème, vous pouvez le supprimer</p>
			<form action="{{ path('user_delete_account', {id: app.user.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer votre compte? Cet action est sans aucun retour possible.')">
				<input type="submit" class="btn btn-danger p-3" value="Supprimer mon compte">
			</form>
		</section>
	</div>
{% endblock %}