{% extends 'base.html.twig' %}

{% block title %}Mes préférences{% endblock %}

{% block body %}
    <div class="toggle-container">
        <input class="container_toggle" type="checkbox" id="switch" name="mode">
        <label for="switch">Toggle</label>
    </div>
{% endblock %}