{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}
    <div class="container h-100 w-100 d-flex justify-content-center align-items-center">
        <img src="{{ asset('img/404_notfound.png') }}" alt="not found image" referrerpolicy="no-referrer" draggable="false">
    </div>
{% endblock %}