{% extends 'base.html.twig' %}

{% block title %}{{ game.label }}{% endblock %}

{% block body %}
	<h1>Detail produit</h1>
	<div class="container">
		.
		<div class="cover"></div>
	</div>
	{{ game.label }}
{% endblock %}
