{% extends 'base.html.twig' %}

{% block title %}Liste de jeux en précommande{% endblock %}

{% block body %}
    <section class="listGames">
        <h1>Liste des jeux en précommandes</h1>

        {% if gamePreorder %}
            <div class="cards">
                {% for game in gamePreorder %}
                    {% include 'components/card/_card-game.html.twig' %}
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun jeu pour cette plateforme</p>
        {% endif %}
    </section>
{% endblock %}
