<a{% for attr, value  in options | merge({class: 'btn-secondary-blue'}) %} {{ attr }}="{{ value }}"{% endfor %}>
<span class="float-end">
        {% if sorted %}
	        {% if direction == 'desc' %}
		        <i class="bi bi-sort-down"></i>
            {% else %}
		        <i class="bi bi-sort-up"></i>
	        {% endif %}
        {% else %}
	        <i class="bi bi-filter-left"></i>
        {% endif %}
    </span>
{{ title }}
</a>
