.overlay-menu {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  .close-btn {
    position: absolute;
    text-decoration: none;
    color: #818181;
    top: 0;
    right: 10px;
    display: block;
    transition: 0.3s;
    font-size: 4rem;
  }
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .cart-menu {
    background: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    .cart-btn {
      font-size: 1.7rem;
      text-decoration: none;
      color: var(--orange);
    }
  }

  hr {
    width: 90%;
    margin: 0 auto;
    border: 1.8px solid var(--orange);
    color: var(--orange);
  }

  .category {
    h2 {
      font-size: 2rem;
      margin: 0 !important;
      color: var(--orange);
      text-decoration: underline;
      margin-bottom: 10px !important;
      padding: 10px;
      //background-color: rgba(255, 255, 255, 0.5);
    }

    .content {
      display: flex;
      flex-direction: column;
      //gap: 10px;

      a {
        padding: 10px;
        font-size: 1.7rem;
        text-decoration: none;
        color: var(--white);
      }
    }
  }

  .accordion {
    background: transparent;
    color: var(--orange);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.7rem;
    transition: 0.4s;

    &::after {
      content: "\002B";
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }

  .active {
    &::after {
      content: "\2212";
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    a {
      text-decoration: none;
      padding: 10px;
      font-size: 1.5rem;
      color: var(--white);
    }
  }
}

.burger-btn {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}
