@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
html {
  --bgColor: #fffdff;
  --white: #fffdff;
  --orange: #f44b3a;
  --blue: #263f5d;
  --waves: invert(21%) sepia(37%) saturate(779%) hue-rotate(173deg) brightness(93%) contrast(91%);
  --animation: all .3s ease-in-out;
  --animationLinear: all .2s linear;
  --textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --lightBtn: #FE016C;
}
html .transition, html .transition *, html .transition *::before, html .transition *::after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0s !important;
}

html[data-theme=dark] {
  --bgColor: #263D5D;
  --white: #263f5d;
  --blue: #fffdff;
  --waves: invert(92%) sepia(64%) saturate(83%) hue-rotate(267deg) brightness(102%) contrast(101%);
  --lightBtn: #FFBD07;
}

body {
  background-color: var(--bgColor);
}

.password-container {
  position: relative;
}

.fa-eye, .fa-eye-slash {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: lightgray;
}
.fa-eye:hover, .fa-eye-slash:hover {
  color: gray;
}

.btn-primary-orange {
  display: block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
  transition: var(--animationLinear);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  height: max-content;
}
.btn-primary-orange:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: var(--animationLinear);
}

.btn-secondary-blue {
  display: block;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: var(--animationLinear);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  height: max-content;
}
.btn-secondary-blue:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: var(--animationLinear);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--orange) #ffffff;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 0;
  border: 0 none #ffffff;
}

/* ===== Scrollbar CSS ===== */
.card {
  background-color: var(--bgColor);
}

.header-flex {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}
.header-flex .logo {
  font-family: "Saira Stencil One", cursive;
  font-size: 2em;
  color: var(--orange);
  text-shadow: var(--textShadow);
}
.header-flex .logo a {
  text-decoration: none;
  color: var(--orange);
}
.header-flex .logo a img {
  height: 50px;
  width: 50px;
}
.header-flex .logo a span {
  font-size: 0.7em !important;
}
.header-flex .menus {
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.header-flex .menus .dropdown .dropdown-menu a img {
  height: 32px;
  width: 32px;
}
.header-flex .dropdown {
  position: relative;
  display: inline-block;
}
.header-flex .dropdown .dropdown-toggle {
  border: none;
  background: transparent;
  color: var(--blue);
  font-family: "Quicksand Book", sans-serif;
  font-size: 1em;
  transition: var(--animation);
}
.header-flex .dropdown .dropdown-toggle:hover {
  color: var(--orange);
  transition: var(--animation);
}
.header-flex .dropdown .dropdown-toggle .bi-chevron-down, .header-flex .dropdown .dropdown-toggle .bi-chevron-up {
  color: var(--orange);
}
.header-flex .dropdown .dropdown-menu {
  background-color: var(--white);
  position: absolute;
  min-width: 160px;
  width: max-content;
  border: 1px solid var(--orange);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s ease-out, transform 0.2s ease-out;
}
.header-flex .dropdown .dropdown-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
  font-family: "Quicksand Book", sans-serif;
  font-size: 0.8em;
  padding: 10px 20px;
  transition: var(--animation);
  gap: 10px;
}
.header-flex .dropdown .dropdown-menu a:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: var(--animation);
}
.header-flex .dropdown .show {
  display: block;
  opacity: 1;
}
.header-flex .dropdown .right {
  right: 0;
}
.header-flex .icons {
  display: flex;
  gap: 20px;
}
.header-flex .icons a i {
  font-size: 2em;
  color: var(--orange);
  transition: var(--animationLinear);
}
.header-flex .icons a i:hover {
  color: var(--blue);
  transition: var(--animationLinear);
}
.header-flex .icons .dropdown .dropBtn {
  position: relative;
  border: none;
  background: transparent;
  font-size: 2em;
  color: var(--orange);
  transition: var(--animationLinear);
  height: max-content;
}
.header-flex .icons .dropdown .dropBtn .cart-count-badge {
  position: absolute;
  top: 0;
  right: 0;
  left: 60%;
  bottom: 60%;
  background-color: var(--blue);
  border: 2px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  transition: var(--animationLinear);
}
.header-flex .icons .dropdown .dropBtn .cart-count-badge .notif_count {
  color: var(--white);
  font-size: initial;
  font-weight: normal;
}
.header-flex .icons .dropdown .dropBtn .profilePicture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.header-flex .icons .dropdown .dropBtn:hover {
  color: var(--blue);
  transition: var(--animationLinear);
}
.header-flex .icons .dropdown .dropBtn:hover .cart-count-badge {
  background-color: var(--orange);
  transition: var(--animationLinear);
}

h2, h1 {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 30px;
  color: var(--blue);
  text-align: center;
}

.is-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: 4;
}
.is-loading .spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 5;
}

main {
  background-color: var(--bgColor);
}
main .filter {
  display: block;
  position: sticky;
  top: 20px;
}
main .toggle-display {
  display: block;
}
main .toggle-filters {
  display: none;
}
main .hero-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/accueil.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .hero-image .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: var(--white);
  text-shadow: var(--textShadow);
}
main .hero-image .hero-text h1 {
  color: #fffdff;
}
main .hero-image .hero-text p {
  font-family: "Quicksand Book", sans-serif;
  font-size: 1.2em;
  margin: auto;
  color: #fffdff;
}
main .hero-image .hero-text p strong {
  color: var(--orange);
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
  justify-content: center;
}
main .cards a {
  text-decoration: none;
}
main .cards a .gameCard {
  cursor: pointer;
}
main .cards a .gameCard .cover-img {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.34);
}
main .cards a .gameCard .cover-img figure {
  margin: 0;
}
main .cards a .gameCard .cover-img figure img {
  max-width: 300px;
  height: max-content;
  border-radius: 10px;
  transition: var(--animation);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
main .cards a .gameCard .cover-img figure img:hover {
  transition: var(--animation);
  transform: scale(1.05);
}
main .cards a .gameCard .infos {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 1.2em;
}
main .cards a .gameCard .infos .label, main .cards a .gameCard .infos .price {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--blue);
}
main .cards a .gameCard .infos .price {
  font-weight: bold;
}
main .cards a .gameCard .preco {
  display: flex;
  color: var(--orange);
  padding: 0 5px;
  gap: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1em;
}
main .cards a .gameCard .preco .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
  border: 1px solid var(--orange);
  border-radius: 5px;
  font-size: 0.8em;
  color: var(--orange);
}
main .tendencies, main .preorders, main .listGames {
  padding: 30px 0;
  background-color: var(--white);
}
main .listGames .cards {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 30px;
}
main .rating, main .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 50px;
  gap: 5px;
}
main .rating .icon, main .newsletter .icon {
  font-size: 2em;
  color: var(--orange);
}
main .rating .stars, main .newsletter .stars {
  display: flex;
  gap: 5px;
}
main .rating .stars .star, main .newsletter .stars .star {
  color: var(--orange);
  cursor: pointer;
  font-size: 1.5em;
}
main .rating .text-content, main .newsletter .text-content {
  margin-top: 10px;
  width: 70%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
main .rating .btn-ratings, main .rating .btn-newsletter, main .newsletter .btn-ratings, main .newsletter .btn-newsletter {
  margin-top: 20px;
}
main .rating .btn-ratings a, main .rating .btn-newsletter a, main .newsletter .btn-ratings a, main .newsletter .btn-newsletter a {
  display: block;
  background: transparent;
  color: var(--white);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--white);
  border-radius: 5px;
  transition: var(--animation);
  box-shadow: 0 4px 8px -4px rgb(0, 0, 0);
  -webkit-box-shadow: 0 4px 8px -4px rgb(0, 0, 0);
  -moz-box-shadow: 0 4px 8px -4px rgb(0, 0, 0);
}
main .rating .btn-ratings a:hover, main .rating .btn-newsletter a:hover, main .newsletter .btn-ratings a:hover, main .newsletter .btn-newsletter a:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: var(--animation);
}
main .genres, main .listGenres {
  margin-top: 30px;
}
main .genres .cards, main .listGenres .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}
main .genres .cards a, main .listGenres .cards a {
  flex: 0 0 33.333%;
  max-width: 500px;
  text-decoration: none;
}
main .genres .cards a .genreCard, main .listGenres .cards a .genreCard {
  color: var(--white);
  border-radius: 10px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.7));
}
main .genres .cards a .genreCard figure, main .listGenres .cards a .genreCard figure {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}
main .genres .cards a .genreCard figure img, main .listGenres .cards a .genreCard figure img {
  width: 100%;
  opacity: 0.9;
  aspect-ratio: 3/2;
  object-fit: cover;
  overflow: hidden;
  transition: var(--animation);
}
main .genres .cards a .genreCard figure img:hover, main .listGenres .cards a .genreCard figure img:hover {
  transition: var(--animation);
  transform: scale(1.03);
}
main .genres .cards a .genreCard figure figcaption, main .listGenres .cards a .genreCard figure figcaption {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  text-align: center;
  padding: 5px;
  width: 100%;
}
main .user-profil .user-about .avatar img {
  width: 100px;
  height: 100%;
}
main .user-profil .user-infos .settings {
  width: 100%;
}
main .user-profil .user-infos .settings .avatar .card {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: space-evenly;
  grid-gap: 20px;
}
main .user-profil .user-infos .settings .avatar .card img {
  width: 70px;
  height: 100%;
}
main .user-profil .user-ratings .ratings {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
main .user-profil .user-ratings .ratings .card {
  width: 100%;
  max-width: 350px;
}
main .user-profil .user-ratings .ratings .card .card-header .game a {
  text-decoration: none;
  color: var(--blue);
  transition: var(--animation);
}
main .user-profil .user-ratings .ratings .card .card-header .game a:hover {
  color: var(--orange);
  transition: var(--animation);
}
main .user-profil .user-ratings .ratings .card .card-header .game a img {
  width: 32px;
  height: 32px;
}
main .user-profil .user-ratings .ratings .card .card-footer .actions .edit-btn, main .user-profil .user-ratings .ratings .card .card-footer .actions .del-btn {
  font-size: 1.5rem;
  color: var(--blue);
  transition: var(--animation);
}
main .user-profil .user-ratings .ratings .card .card-footer .actions .edit-btn:hover, main .user-profil .user-ratings .ratings .card .card-footer .actions .del-btn:hover {
  color: var(--orange) !important;
  transition: var(--animation);
}
main .user-profil .user-ratings .ratings .card .card-footer .actions .del-btn {
  color: darkred !important;
}
main .bi-star-fill {
  color: var(--orange);
}
main .bi-star, main .bi-star-fill {
  font-size: 1.3rem;
}
main .form-check .form-check-input:checked {
  background-color: var(--orange);
  border-color: var(--orange);
}
main .detailGame .detail {
  padding: 30px;
}
main .detailGame .detail .coverDesc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
main .detailGame .detail .coverDesc .cover {
  width: auto;
}
main .detailGame .detail .coverDesc .cover figure {
  margin: 0;
}
main .detailGame .detail .coverDesc .cover figure img {
  border-radius: 10px;
}
main .detailGame .detail .coverDesc .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
}
main .detailGame .detail .coverDesc .desc .flex-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .detailGame .detail .coverDesc .desc .infos {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--blue);
}
main .detailGame .detail .coverDesc .desc .infos .plateform img {
  width: 32px;
  height: 32px;
}
main .detailGame .detail .coverDesc .desc .plateform-price, main .detailGame .detail .coverDesc .desc .btns {
  display: flex;
}
main .detailGame .detail .coverDesc .desc .btns {
  gap: 10px;
}
main .detailGame .detail .coverDesc .desc .plateform-price {
  flex-direction: column;
  gap: 20px;
  color: var(--blue);
}
main .detailGame .detail .coverDesc .desc .plateform-price p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
main .detailGame .about {
  padding: 30px;
  background-color: var(--blue);
}
main .detailGame .about h2 {
  color: var(--white);
}
main .detailGame .about .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
main .detailGame .about .content .description {
  width: 50%;
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  color: var(--white);
  text-shadow: var(--textShadow);
}
main .detailGame .about .content .infos {
  display: flex;
  flex-direction: column;
}
main .detailGame .about .content .infos .release, main .detailGame .about .content .infos .genres {
  margin: 0;
  display: flex;
  gap: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  color: var(--white);
}
main .detailGame .about .content .infos .release strong, main .detailGame .about .content .infos .genres strong {
  font-weight: normal;
}
main .detailGame .about .content .infos .release p, main .detailGame .about .content .infos .genres p {
  font-weight: lighter;
  margin: 0;
}
main .detailGame .screenshots {
  padding: 30px;
}
main .detailGame .screenshots #carouselPhotos {
  max-width: 1000px;
  margin: 0 auto;
}
main .detailGame .screenshots #carouselPhotos .carousel-inner {
  border-radius: 10px;
}
main .detailGame .videos {
  padding: 30px;
  /*#carouselTrailers {
    max-width: 1000px;
    margin: 0 auto;

    .carousel-inner {
  	max-height: 500px;
  	.carousel-item {
  	  height: 100%;
  	}
    }

  }*/
}
main .detailGame .videos .content {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}
main .ratings .rating-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
main .ratings .rating-cards .card {
  width: 100%;
  max-width: 350px;
}
main .ratings .rating-cards .card .card-header .user img {
  width: 48px;
  height: 48px;
}
main .ratings .rating-cards .card .card-footer .platform img {
  width: 32px;
  height: 32px;
}
main .cart {
  margin: 0 auto;
}
main .cart .cart-item {
  width: 40%;
}
main .cart .cart-item .game {
  width: 100%;
}
main .cart .cart-item .game .about .image img {
  border-radius: 10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}
main .cart .cart-item .game .about .infos a {
  text-decoration: none;
}
main .cart .cart-item .game .about .infos .game-platform .platform-logo img {
  width: 32px;
  height: 32px;
}
main .cart .cart-item .game .about .infos .game-platform .game-name {
  color: var(--blue);
  font-size: 1.2rem;
}
main .cart .cart-item .game .about .infos .delete-icon {
  font-size: 1rem;
  width: max-content;
  padding-left: 5px;
}
main .cart .cart-item .game .about .infos .delete-icon a {
  text-decoration: none;
  color: var(--blue);
  transition: var(--animation);
}
main .cart .cart-item .game .about .infos .delete-icon a i {
  color: var(--orange);
  transition: var(--animation);
}
main .cart .cart-item .game .about .infos .delete-icon a:hover {
  color: var(--orange);
  transition: var(--animation);
}
main .cart .cart-item .game .about .infos .delete-icon a:hover i {
  color: var(--blue);
  transition: var(--animation);
}
main .cart .cart-item .game .price select {
  width: max-content;
}
main .cart .cart-item .game .price strong {
  font-size: 1.2rem;
  color: var(--blue);
}
main .order {
  display: flex;
  flex-direction: column;
}
main .order .order-header .recap {
  width: 40%;
}
main .current-purchase .cards .card .card-body .details .game a {
  text-decoration: none;
}
main .current-purchase .cards .card .card-body .details .game a img {
  border-radius: 5px;
}
main .current-purchase .cards .card .card-body .details .game .infos a:first-child {
  text-decoration: none;
  color: var(--blue);
  transition: var(--animation);
}
main .current-purchase .cards .card .card-body .details .game .infos a:first-child:hover {
  color: var(--orange);
  transition: var(--animation);
}
main .current-purchase .cards .card .card-body .details .game .infos a:last-child {
  text-decoration: underline;
  color: var(--orange);
  transition: var(--animation);
}
main .current-purchase .cards .card .card-body .details .game .infos a:last-child:hover {
  color: var(--blue);
  transition: var(--animation);
}
main .toggle-container {
  display: flex;
  align-items: center;
}
main .toggle-container .container_toggle {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
}
main .toggle-container .container_toggle:checked + label {
  background: #FFBD07;
}
main .toggle-container .container_toggle:checked + label::after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
main .toggle-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
main .toggle-container label::after {
  content: "";
  background: #fff;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
main .show-more {
  margin: 50px auto 0 auto;
  background: transparent;
  color: var(--orange);
  border: 1px solid var(--orange);
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: var(--animation);
}
main .show-more a {
  transition: var(--animation);
  color: var(--orange);
  text-decoration: none;
}
main .show-more:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: var(--animation);
}
main .show-more:hover a {
  color: var(--white);
  transition: var(--animation);
}
main .ratingStars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .ratingStars i {
  cursor: pointer;
  font-size: 1.5em;
}

footer {
  user-select: none;
  background-color: var(--bgColor);
}
footer .wave-filter {
  user-select: none;
  filter: var(--waves);
}
footer .f-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  padding: 10px 30px;
}
footer .f-flex .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
footer .f-flex .footer .logo {
  font-family: "Saira Stencil One", cursive;
  font-size: 2em;
  color: var(--orange);
  text-shadow: var(--textShadow);
}
footer .f-flex .footer .logo a {
  text-decoration: none;
  color: var(--orange);
  transition: var(--animation);
}
footer .f-flex .footer .logo a img {
  filter: drop-shadow(0px 0px 2px black);
  width: 50px;
  height: 50px;
}
footer .f-flex .footer .logo a:hover {
  color: var(--white);
  transition: var(--animation);
}
footer .f-flex .footer .links {
  color: var(--white);
  display: flex;
  gap: 20px;
}
footer .f-flex .footer .links a {
  color: var(--white);
  transition: var(--animation);
  font-family: "Source Sans Pro", sans-serif;
}
footer .f-flex .footer .links a:hover {
  transition: var(--animation);
  color: var(--orange);
}
footer .f-flex .footer .socials {
  display: flex;
}
footer .f-flex .footer .socials a {
  margin: 0 5px;
}
footer .f-flex .footer .socials a .bi {
  font-size: 2em;
  color: var(--orange);
  transition: var(--animation);
}
footer .f-flex .footer .socials a .bi:hover {
  color: var(--white);
  transition: var(--animation);
}
footer .f-flex hr {
  width: 100%;
  border: 1px solid var(--orange);
}
footer .f-flex small {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: var(--white);
}

.burger-btn, .overlay-menu {
  display: none !important;
}

.goUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3E3E3E;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  color: var(--white);
  transition: var(--animationLinear);
  visibility: hidden;
  z-index: -1;
}
.goUp:hover {
  transition: var(--animationLinear);
  transform: scale(0.9);
  background-color: var(--orange);
}

.show-up {
  transition: var(--animationLinear);
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

.overlay-menu {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-menu .close-btn {
  position: absolute;
  text-decoration: none;
  color: #818181;
  top: 0;
  right: 10px;
  display: block;
  transition: 0.3s;
  font-size: 4rem;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.overlay-content .cart-menu {
  background: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.overlay-content .cart-menu .cart-btn {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--orange);
}
.overlay-content hr {
  width: 90%;
  margin: 0 auto;
  border: 1.8px solid var(--orange);
  color: var(--orange);
}
.overlay-content .category h2 {
  font-size: 2rem;
  margin: 0 !important;
  color: var(--orange);
  text-decoration: underline;
  margin-bottom: 10px !important;
  padding: 10px;
}
.overlay-content .category .content {
  display: flex;
  flex-direction: column;
}
.overlay-content .category .content a {
  padding: 10px;
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--white);
}
.overlay-content .accordion {
  background: transparent;
  color: var(--orange);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.7rem;
  transition: 0.4s;
}
.overlay-content .accordion::after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.overlay-content .active::after {
  content: "−";
}
.overlay-content .panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.overlay-content .panel a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
  color: var(--white);
}

.burger-btn {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 575.98px) {
  .menus, .icons {
    display: none !important;
  }
  .burger-btn, .overlay-menu {
    display: block !important;
  }
  main .hero-image {
    height: auto !important;
    min-height: 60vh !important;
    background-position: left !important;
  }
  main .hero-text, main .tendencies, main .rating, main .preorders, main .newsletter, main .genres, main .listGenres {
    padding: 20px !important;
  }
  main .hero-text {
    width: 100% !important;
  }
  main .hero-text h1 {
    font-size: 1.3em !important;
  }
  main .hero-text p {
    font-size: 1em !important;
    text-align: justify;
  }
  main .tendencies .cards, main .preorders .cards, main .content .cards, main .listGames .cards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
  }
  main .tendencies .cards a, main .preorders .cards a, main .content .cards a, main .listGames .cards a {
    width: max-content !important;
  }
  main .tendencies .cards a .gameCard:hover, main .preorders .cards a .gameCard:hover, main .content .cards a .gameCard:hover, main .listGames .cards a .gameCard:hover {
    transform: unset !important;
  }
  main .newsletter .text-content, main .rating .text-content {
    width: 100% !important;
    text-align: justify !important;
  }
  main .genres, main .listGenres {
    margin: 0 !important;
  }
  main .genres .cards, main .listGenres .cards {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px !important;
    width: 100%;
    margin: 0;
  }
  main .genres .cards .genreCard figure img, main .listGenres .cards .genreCard figure img {
    width: 100% !important;
    max-height: 200px !important;
  }
  main .genres .cards .genreCard:hover, main .listGenres .cards .genreCard:hover {
    transform: none !important;
  }
  main .show-more {
    margin: 20px auto 0 auto !important;
  }
  .container {
    padding: 20px !important;
    margin: 0 !important;
  }
  .container .card {
    width: 100% !important;
  }
  .container .card .card-body {
    width: 100% !important;
    padding: 0 !important;
  }
  .container .login, .container .register {
    padding: 20px !important;
  }
  .container .login .card-body .passwords, .container .register .card-body .passwords {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .container .login .card-body .passwords .col, .container .register .card-body .passwords .col {
    width: 100% !important;
  }
  .container .login .card-footer, .container .register .card-footer {
    align-items: center !important;
  }
  .container .login .card-footer .actions, .container .register .card-footer .actions {
    display: flex !important;
    gap: 10px !important;
  }
  .container .login .card-footer .actions a, .container .register .card-footer .actions a {
    font-size: 1.5em;
  }
  .container .login .checkbox, .container .register .checkbox {
    text-align: center !important;
  }
  .container .login .btns .btns-con-pass, .container .register .btns .btns-con-pass {
    flex-direction: column !important;
  }
  .container .login .btn, .container .register .btn {
    width: 100% !important;
  }
  .cart {
    padding: 20px !important;
    flex-direction: column !important;
  }
  .cart .cart-item .card, .cart .summary .card {
    padding: 20px !important;
  }
  .cart .cart-item {
    width: 100% !important;
  }
  .cart .cart-item .card .game {
    flex-direction: column !important;
    justify-content: space-between !important;
  }
  .cart .cart-item .card .game .about {
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
  }
  .cart .cart-item .card .game .about .infos {
    flex-direction: row !important;
    align-items: center !important;
    gap: 10px !important;
  }
  .cart .cart-item .card .game .price {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .cart .summary {
    width: 100% !important;
  }
  .order .order-header {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .order .order-header .recap {
    width: 100% !important;
  }
  .order-success .alert {
    width: 100% !important;
  }
  .order-success .order-content {
    width: 100% !important;
  }
  .current-purchase {
    padding: 20px !important;
  }
  .current-purchase .cards .card {
    width: 100% !important;
  }
  .rating-form {
    padding: 20px !important;
  }
  .rating-form .card {
    width: 100% !important;
    padding: 20px !important;
  }
  .rating-form .card .form .rating .ratingStars i {
    font-size: 2em !important;
  }
  .user-profil .user-infos {
    margin: 30px auto !important;
  }
  .user-profil .user-infos .settings .avatar, .user-profil .user-infos .settings .username, .user-profil .user-infos .settings .email, .user-profil .user-infos .settings .password {
    flex-direction: column !important;
  }
  .user-profil .user-infos .settings .avatar .infos, .user-profil .user-infos .settings .username .infos, .user-profil .user-infos .settings .email .infos, .user-profil .user-infos .settings .password .infos {
    width: 100% !important;
  }
  .user-profil .user-infos .settings .avatar .card, .user-profil .user-infos .settings .username .card, .user-profil .user-infos .settings .email .card, .user-profil .user-infos .settings .password .card {
    width: 100% !important;
    grid-gap: 10px !important;
  }
  .user-profil .user-infos .settings .avatar .card .new-password, .user-profil .user-infos .settings .username .card .new-password, .user-profil .user-infos .settings .email .card .new-password, .user-profil .user-infos .settings .password .card .new-password {
    flex-direction: column !important;
  }
  .user-profil .user-address .address {
    flex-direction: column !important;
  }
  .user-profil .user-address .address .infos {
    width: 100% !important;
  }
  .user-profil .user-address .address .card .btns {
    flex-direction: column !important;
  }
  .user-profil .user-ratings .ratings .card {
    max-width: unset !important;
  }
  .user-profil .user-ratings .ratings .card .card-body {
    width: 100% !important;
    padding: 10px !important;
  }
  .user-profil .user-ratings .ratings .card .card-body p {
    margin: 0 !important;
  }
  .user-profil .user-ratings .ratings .card .card-footer {
    align-items: center !important;
  }
  .user-profil .user-ratings .ratings .card .card-footer .actions {
    display: flex !important;
    gap: 10px !important;
  }
  .detailGame .detail, .detailGame .about {
    padding: 20px !important;
  }
  .detailGame .detail .coverDesc {
    flex-direction: column !important;
    align-items: center !important;
    gap: unset !important;
  }
  .detailGame .detail .coverDesc .desc .flex-content {
    gap: 10px !important;
  }
  .detailGame .about .content {
    flex-direction: column !important;
    gap: 20px !important;
  }
  .detailGame .about .content .description {
    width: 100% !important;
  }
  .detailGame .about .content .infos .release, .detailGame .about .content .infos .genres {
    padding: 0 !important;
  }
  .detailGame .screenshots {
    padding: 20px !important;
  }
  .listGames .toggle-display {
    display: none !important;
  }
  .listGames .container {
    padding: 20px !important;
  }
  .listGames .container .page-content {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
  }
  .listGames .container .page-content .toggle-filters {
    display: block !important;
  }
  .listGames .container .page-content .filter-content {
    position: unset !important;
    top: unset !important;
  }
  .listGames .container .page-content .filter-content .show {
    display: block !important;
  }
  .listGames .container .page-content .filter-content .filter #genres {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 10px;
  }
  .listGames .container .page-content .filter-content .filter #price-slider {
    width: 90% !important;
    margin: 10px auto !important;
  }
  .listGames .container .page-content .content .sorting {
    justify-content: center !important;
  }
  .listGames .container .page-content .content .pagination-platform {
    margin-top: 30px !important;
  }
  footer .footer {
    flex-direction: column !important;
    gap: 20px !important;
  }
  footer .footer .links {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
