{% extends 'base.html.twig' %}

{% block title %}Liste de jeux {{ platform.label }}{% endblock %}

{% block body %}
	<section class="listGames">

		<h1>{{ platform.label }}</h1>
		<div class="container js-filter">
			<div class="row">
				<div class="col-md-3">
					{% include 'game/platform/_filter.html.twig' with {form: form, min: min, max: max} only %}
				</div>
				<div class="col-md-9">
					<div class="d-flex justify-content-end mb-4 gap-2 js-filter-sorting">
						{% include 'game/platform/_sorting.html.twig' %}
					</div>
					{% if gameAvailable %}
						<div class="cards js-filter-content">
							{% include 'game/platform/_games.html.twig' %}
						</div>
						<div class="pagination-platform mt-5 js-filter-pagination">
							{% include 'game/platform/_pagination.html.twig' %}
						</div>
					{% else %}
						<p>Aucun jeu pour cette plateforme</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
