{% for screenshot in gameInfos[0].screenshots %}
    <div class="carousel-item">
        <img src="https://images.igdb.com/igdb/image/upload/t_screenshot_huge/{{ screenshot.image_id }}.jpg"
             alt="photo du jeu {{ gameInfos[0].name }}"
             draggable="false">
    </div>
{% endfor %}
