{% for gameInfo in gameInfos %}
    {% for video in gameInfo.videos %}
        <div class="carousel-item">
            <iframe width="420" height="300" src="https://www.youtube.com/embed/{{ video.video_id }}"></iframe>
        </div>
    {% endfor %}
{% endfor %}