{% extends 'base.html.twig' %}

{% block title %}Commande non effectué{% endblock %}

{% block body %}
	<h1>Commande non effectué</h1>
	<div class="alert text-bg-danger w-50 m-auto text-center">
		Votre commande <strong>n°{{ reference }}</strong> n'a pas été effectué.
	</div>
	<div class="mt-3 w-50 m-auto">
		<a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
	</div>

{% endblock %}